.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #17d4fe;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
}

:root {
  --main-bg-color: #fff;
  --main-text-color: #888888;
}

[data-theme="dark"] {
  --main-bg-color: #1e1f26;
  --main-text-color: #ccc;
}

* {
  box-sizing: border-box;
  /* transition:all ease0.2s; */
}
